<%= render './header' %>

<h3>All Artists:</h3>
<% @artists.each do |artist| %>
  <p><a href="/artists/<%= artist.id %>"> <%= artist.name %></a> (<a href="/artists/<%= artist.id %>/edit">Edit</a>)
    <%= button_to 'Delete', '/artists', params: {id: artist.id}, method: :delete, class: 'btnbtn-custom btn_sm'%>
  </p>
<% end %>

<h3><a href="/artists/new">New Artist</a></h3>
