<a href="/artists">Artists Index</a>

<h1><%= @artist.name %></h1>

<p>Alive: <%= @artist.alive %></p>

<p>Monthly Listeners: <%= @artist.monthly_listeners %></p>

<p><a href="/artists/<%= @artist.id %>/songs"> Songs</a> (<%= @artist.song_count %> songs)</p>
