<h2>Edit Baker</h2>

<%= form_with url: "/bakers/#{@baker.id}", method: :patch, local: true do |form| %>
  <%= form.label "Name:" %>
  <%= form.text_field :name, value: @baker.name %>

  <%= form.label "Currently Working:" %>
  <%= form.select :is_working, ['Yes', 'No'] %>

  <%= form.label "Salary in USD:" %>
  <%= form.text_field :salary, value: @baker.salary %>

  <%= form.hidden_field :bakery_id %>
  <%= hidden_field_tag :bakery_id, "#{@baker.bakery.id}"  %>

  <%= form.submit 'Save Changes' %>
<% end %>
