<%= render './header' %>

<h3>All Bakers:</h3>
<% @bakers.each do |baker| %>
  <p><a href="/bakers/<%= baker.id %>"> <%= baker.name %></a> (<a href='/bakers/<%= baker.id %>/edit'>Edit</a>)</p>
<% end %>

<h3>Bakers Currently Working:</h3>
<% @working_bakers.each do |baker| %>
  <p><a href="/bakers/<%= baker.id %>"> <%= baker.name %></a></p>
<% end %>
