<%= render './header' %>

<h1><%= @baker.name %></h1>

<p>Works At: <%= @baker.bakery.name %></p>

<p>Working: <%= @baker.is_working %></p>

<p>Salary: $<%= @baker.salary %>/yr</p>

<h3><a href="/bakers/<%= @baker.id %>/edit">Update This Baker</a></h3>
