<%= render './header' %>

<p><a href="/bakeries/<%= @bakery.id %>/bakers/sorted">Sort Bakers</a></p>

<% @bakers.each do |baker|%>

<h3><%= baker.name %> (<a href='/bakers/<%= baker.id %>/edit'>Edit</a>) <%= button_to 'Delete', "/bakeries/#{@bakery.id}/bakers", params: {baker_id: baker.id}, method: :delete, class: 'btnbtn-custom btn_sm'%> </h3>

<p>Bakery: <%= baker.bakery.name %></p>

<p>Currently Working: <%= baker.is_working %></p>

<p>Salary: $<%= baker.salary %>/yr</p>

<% end %>

<p><a href="/bakeries/<%= @bakery.id %>/bakers/new">Add Baker</a></p>

<form action="/bakeries/<%= @bakery.id %>/bakers" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>List Bakers With Salary Greater Than:</p>
  <input type='text' name='baker[salary_threshold]'/><br/><br/>
  <input type='submit' value = 'Submit'/>
</form>
