<%= render './header' %>

<p><a href="/bakeries/<%= @bakery.id %>/bakers/sorted">Sort Bakers</a></p>

<% @bakers.each do |baker|%>
<h3><%= baker.name %> (<a href='/bakers/<%= baker.id %>/edit'>Edit</a>)</h3>

<p>Bakery: <%= baker.bakery.name %></p>

<p>Open: <%= baker.is_working %></p>

<p>Salary: $<%= baker.salary %>/yr</p>

<% end %>

<p><a href="/bakeries/<%= @bakery.id %>/bakers/new">Add Baker</a></p>
