<%= render './header' %>

<h1><%= @bakery.name %></h1>

<p>Open: <%= @bakery.is_open %></p>

<p>Customer Capacity: <%= @bakery.customer_capacity %></p>

<p><a href="/bakeries/<%= @bakery.id %>/bakers"> Bakers</a> (<%= @bakery.baker_count %> bakers)</p>

<h3><a href="/bakeries/<%= @bakery.id %>/edit">Update This Bakery</a></h3>

<%= button_to 'Delete', '/bakeries', params: {id: @bakery.id}, method: :delete, class: 'btnbtn-custom btn_sm'%>
