<%= render './header' %>

<a href="/bakeries">Bakeries Index</a>

<h1><%= @bakery.name %></h1>

<p>Open: <%= @bakery.is_open %></p>

<p>Customer Capacity: <%= @bakery.customer_capacity %></p>

<p><a href="/bakeries/<%= @bakery.id %>/bakers"> Bakers</a> (<%= @bakery.baker_count %> bakers)</p>

<h3><a href="/bakeries/<%= @bakery.id %>/edit">Update Bakery</a></h3>
