<%= render './header' %>

<h3>All Songs:</h3>
<% @songs.each do |song| %>
  <p><a href="/songs/<%= song.id %>"> <%= song.name %></a> (<a href='/songs/<%= song.id %>/edit'>Edit</a>)
    <%= button_to 'Delete', '/songs', params: {id: song.id}, method: :delete, class: 'btnbtn-custom btn_sm'%>
  </p>
<% end %>


<h3> Songs in the Top 100: </h3>
<% @top_100_songs.each do |song| %>
  <p><a href="/songs/<%= song.id %>"> <%= song.name %></a></p>
<% end %>
