<%= render './header' %>

<h1><%= @song.name %></h1>

<p>Artist: <%= @song.artist.name %></p>

<p>Top 100: <%= @song.top_100 %></p>

<p>Length: <%= @song.length_s %></p>

<h3><a href="/songs/<%= @song.id %>/edit">Update This Song</a></h3>

<%= button_to 'Delete', '/songs', params: {song_id: @song.id}, method: :delete, class: 'btnbtn-custom btn_sm'%>
