<%= render './header' %>

<p><a href="/artists/<%= @artist.id %>/songs/sorted">Sort Songs</a></p>

<% @songs.each do |song|%>
<h3><%= song.name %> (<a href='/songs/<%= song.id %>/edit'>Edit</a>)</h3>

<p>Artist: <%= song.artist.name %></p>

<p>Top 100: <%= song.top_100 %></p>

<p>Length: <%= song.length_s %></p>

<% end %>

<p><a href="/artists/<%= @artist.id %>/songs">Create Song</a></p>

<form action="/artists/<%= @artist.id %>/songs" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>List Songs With Length Greater Than:</p>
  <input type='text' name='song[length_s_threshold]'/><br/><br/>
  <input type='submit' value = 'Submit'/>
</form>
