<%= render './header' %>

<% @songs.each do |song|%>
<h3><%= song.name %></h3>

<p>Artist: <%= song.artist.name %></p>

<p>Top 100: <%= song.top_100 %></p>

<p>Length: <%= song.length_s %></p>

<% end %>
